    <!-- <div class="col-4 offset-4" style="margin-top: 100px;background-color:#95a5a6;height: 260px;"> -->
                <!-- <app-home></app-home> -->
            <!-- <div class="form-group" style="padding-top: 15px;">
                <input type="text"  [(ngModel)]="value" class="form-control" (blur)="getstock()">
            </div> -->
            <!-- <div class="form-group">
                <button (click)="getstock()" class="btn btn-primary mt-2 form-control">Get</button>
            </div> -->
            <!-- <div class="form-group">
                <button [disabled]="!showreset" class="btn btn-primary mt-2 form-control">Reset</button>
            </div>
            <app-stock [stockvalue]="childValue" (boo)="preset($event)"></app-stock>
        </div>         -->

<div class="col-4 offset-4" style="margin-top: 100px;background-color:lightgray;height: 455px;border: 2px solid black;"> 
    <app-reactiveforms></app-reactiveforms>
</div>